.dropdownItemQ{
    color: black;
    border: solid 1px gray;
    cursor: pointer;
}
.dropdownItemsQ{
    border: solid 2px black;
}

.dropdownBarQ{
    justify-content: center;
    display: flex;
}