body{
    padding-bottom: 2rem;
}

.dropdownItemQ {
    color: black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-left: solid 2px black;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    cursor: pointer;
    padding: 5px;
    display: flex;
}

/* justify-content: space-around;   /
}
/ .dropdownItemsQ{
border: solid 2px black;
} */
ul.liNavbarLabels {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 27%;
    margin-right: 27%;
}

li.liNavbarLabels {
    font-size: large;
    min-width: 230px;
    justify-content: center;
    display: flex;
    background-color: #6c757d;
    color: white;
}

.dropdownBarQ {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    margin-left: 27%;
    margin-right: 27%;

}

.btn {
    min-width: 230px;
}

.indexFrame {
    padding: 3%;
    margin-top: 8%;
}

.piecharts {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.piechart {
    width: 400px;
}

.dropdownItemsQ {
    position: absolute;
    z-index: 100;
    min-width: 230px;
    background-color: white;
}

.datePicker {
    min-width: 230px;
    background-color: #6c757d;
}

input {
    background-color: gray;
    text-align: center;
    color: white;
    border: none;

}

div.react-datepicker__input-container {
    display: flex;
    justify-content: center;
}

.counts {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;
}

.alert-warning{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    font-size: large;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    width: 100%;
    margin-bottom: 1rem;
}

.navbar-items {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-label {
    font-size: large;
    min-width: 230px;
    justify-content: center;
    display: flex;
    background-color: #6c757d;
    color: white;
}

.date-picker {
    background-color: #6c757d;
    padding-bottom: 0.7rem;
}

.graphs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buildings {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
}

.building {
    width: 25%;
}

.refresh-desktop {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.refresh-mobile {
    display: none;
}

.refresh-button {
    width: 10%;
    border-radius: 5px;
    padding: 0.2rem;
    background-color: white;
    color: #0d6efd;
    border-color: #0d6efd;
    border-width: 1px;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.timePeriodChangeButton {
    padding: 0.3rem;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    margin-right: 0.2rem;
    border: none;
}

.btn-primary, .btn-primary:active {
    background-color: rgb(148, 178, 255);
    color: rgb(10, 1, 137);
    font-weight: bold;
    border-radius: 5px;
}

.timePeriodChangeButton.active {
    background-color: rgb(5, 5, 167);
    color: white;
}

.additionalOptions {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 80%;
}

.options-item {
    width: auto;
}

.option-label {
    font-size: large;
    width: 100%;
    min-width: 230px;
    justify-content: center;
    display: flex;
    background-color: #6c757d;
    color: white;
}

.menu-icon {
    display: none;
}

.options {
    display: flex;
    gap: 1rem;
}

.card {
    width: 75%;
}

.building {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.count-container{
    width: 80%;
    margin: auto;
    align-self: center;
}

.timePeriodChangeButton {
    min-width: 83px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
    font-size: 1rem;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.alert-info{
    height: 100%;
}

.timePeriodChangeSmall{
    display: none;
}

.small-dropdown{
    display: none;
}

@media screen and (max-width: 990px) {
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        margin: 6px 0;
        transition: 0.4s;
        background-color: white;
    }

    .alert-warning {
        width: 100%;
    }

    .navbar-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .count-container{
        width: auto;
    }

    .small-navbar{
        display: none;
    }

    .small-dropdown{
        display: flex;
    }

    .normal-dropdown{
        display: none;
    }

    .navbar-container {
        width: 100%;
        background-color: #6c757d;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 2rem;
    }

    .navbar-item {
        display: none;
    }

    .menu-icon-container {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0.8rem 2rem;
        justify-content: flex-end;
        margin-top: 6px;
    }

    .menu-icon {
        display: inline-block;
        cursor: pointer;
    }

    .navbar-container-active {
        width: 100%;
        background-color: #6c757d;
        position: relative;
    }

    .navbar-container-active .navbar-items {
        flex-direction: column;
        justify-content: center;
        background-color: #6c757d;
        position: absolute;
        z-index: 100;
    }

    .navbar-container-active .navbar-item {
        display: block;
        width: 100%;
    }

    .dropdown-center {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .dropdownItemsQ {
        position: relative;
        z-index: 0;
        min-width: 230px;
        background-color: white;
    }

    .piechart {
        width: 50%;
    }

    .refresh {
        justify-content: flex-start;
    }

    .refresh-mobile {
        width: 80%;
        display: flex;
        justify-content: flex-start;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .refresh-desktop {
        display: none;
    }

    .refresh-button {
        width: 5rem;
        margin-left: 1rem;
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .additionalOptions {
        width: 100%;
    }
    .timePeriodChange{
        display: none;
    }
    .timePeriodChangeSmall {
        display: flex;
        margin-bottom: 1rem;
    }

    .count{
        margin-bottom: 1rem;
    }
}
